/* ===== HOME HERO SECTION ===== */
#homehero {
	height: 300px;
	background-image: url("../images/boba_homehero_1.avif");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 25%;
}

@media (width >= 600px) {
	#homehero {
		height: 50vh;
		background-image: url("../images/boba_homehero_1.avif");
	}
}
